<!DOCTYPE html>
<html>
    <head>
        <style> 
            body {
                font-family: sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .row {
                width: 250;
                text-align: center;
                padding-bottom: 5px;
            }
            input {
                border-style:solid;
                border-color: black;
                background-color: white;
                color: black;
                width: 150px;
                border-radius: 10px;
            }
            input[type="submit"]{
                width: 100px;
                background-color: black;
                color: white;
                border-radius: 10px;
            }
            button {
                border: 1;
                border-style: solid;
                border-color: black;
                background: white;
                color: black
                box-shadow: none;
                border-radius: 10px;
            }
            #toggleVis {
                border-style: none;
                font-style: italic;
            }
            #error {
                color: red;
                border-style: none;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <h2>Choose a New Password</h2>

        <form
            name="password_reset"
            action="/auth/password" 
            method="POST"
            onsubmit="return validate()"
        >
            <%# devise needs a PUT, html only supports POST, setting _method tells rails to override %>
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="reset_password_token" value=<%=params[:reset_password_token]%> >

            <div class='row'>
                <label for="password">New Password</label>
            </div>
            <div class='row'>
                <input 
                    required
                    name="password" 
                    type="password"
                />
            </div>
            <div class="row">
                <label for="password_confirmation">Password Confirmation</label>
            </div>
            <div class='row'>
                <input
                    name="password_confirmation" 
                    type="password"
                />
            </div>
            <div class='row'>
                <button id="toggleVis" onclick="toggleVisibility()">Show/Hide Password</button>
            </div>
            <div class='row'>
                <input type="submit">
            </div>
        </form>
        <button id=error></button>
    </body>

     <script> 
        document.querySelector("#error").style.display = 'none'

        const toggleVisibility = () => {
            let inputs = document.querySelectorAll('input')
            let password_inputs = Array.from(inputs).slice(2,4)
            password_inputs.forEach(x => x.type === 'text' ? x.type = 'password' : x.type = 'text')
            return false
        }

        const flashError = (string) => {
            var errElem = document.querySelector("#error")
            errElem.innerHTML = string
            errElem.style.display = 'block'
            setTimeout(() => errElem.style.display = 'none', 3000)
            return false
        }

        const validate = () => {
            const pass = document.password_reset.password.value
            const validPassword = pass.length > 6 && pass.length < 128
            const confirm = document.password_reset.password_confirmation.value
            const isSame = pass === confirm
            if(!validPassword) return flashError("Password must be between 6 and 128 characters")
            if(!isSame) return flashError("Passwords must match")
            return true
        }
    </script>
</html>
