<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="NtWgbTCLrsTHS2qcYCcvUnS-dkV26TgS1R8M4FVSkTg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>
        body {
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            font-family: 'Lato', sans-serif;
        }
        .main_column {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        #logo {
            width: 100%;
            padding-top: 20px;
            max-width:750px;
        }
        h1 {
            margin: 10px;
            text-align: center;
            font-size: 45px;
        }
        .contact {
            color: black;
            text-decoration: none;
            font-style: italic;
            padding: 15px;
        }
        .app_icon_row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .app_icon_column {
            height: 100%;
        }
        .app_icon_column a {
            
        }
        .app_icon_column img {
            height: 150px;
            padding: 0 25px 0 25px;
        }
        @media only screen and (max-width: 800px) {
            #logo {
                width: 95%;
            }
        }
        @media only screen and (max-width: 600px) {
            .app_icon_column img {
                height: 100px;
            }
            h1 {
                font-size: 30px;
            }
        }
    </style>
</head>
<body>
    <div class="main_column">
        <img id="logo" src="SpotCatch_1C_BLK_VLockup.png">
        <h1>Find climbing partners!</h1>
        <div class='app_icon_row'>
            <div class="app_icon_column">
                <a href="https://apps.apple.com/us/app/spotcatch/id1519534389">
                    <img src='AppStoreLogo.png'>
                </a>
            </div>
            <div class="app_icon_column">
                <a href="https://play.google.com/store/apps/details?id=com.spot_catch.prod">
                <img src='GooglePlayLogo.png'>
            </div>
        </div>
        <a class='contact' href="mailto:spot.catch.dev@gmail.com">Contact</a>
    </div>
</body>
</html>
