<p>Hello, <%= @resource.email %>!</p>

<p>Confirmed users help us fight off the evil robots (aka keep server costs down). Please click the link below to confirm!</p>
<p><%= t '.confirm_link_msg' %> </p>

<p><%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
